/* in questo file un approccio "atomico", che quindi richiede "utilites.css" */

body {
	font-family: sans-serif;
}

#menu-column > ul {
	list-style: none;
}

.dashed {
	border: dashed 2px black;
}

.dashed-white {
	border: dashed 2px white;
}

#login-column {
	text-align: right;
}

.jumbo-content {
	margin: 0 auto;
}

.minHeight {
	min-height: 350px;
}

footer > hr {
	margin-bottom: 64px;
}

a {
	text-decoration: none;
}

#menu-column li > a {
	color: white;
}

.btn {
    border-radius: 23px;
	background: #7289da;
	color: white;
    padding: 16px 32px;
	font-size: 16px;
	display: inline-flex;
}

.btn-small {
    padding: 8px 16px;
	font-size: 12px;
}

.btn-white {
	background: white;
    color: black;
}

.btn-black {
	background: black;
}

#jumbotron {
	background-image: url(../img/jumbo.png);
	background-size: cover;
	background-position: center;
	text-align: center;
	color: white;
}

.btn > img {
	height: 1em;
}

main h2 {
	font-size: 48px;
	margin: 30px 0;
}
main p {
	font-size: 18px;
	line-height: 150%;
}

.wave {
	background-image: url(../img/wave.svg);
	background-size: cover;
	height: 100px;
	opacity: 0.17;
}

.upsidedown {
	transform: rotate(180deg);
}

.waveImage {
	width: 100%;
}

.wave-1hkxOo {
	color: lightgray;
	display: block;
}

.text-center {
	text-align: center;
}

.starred-title {
	margin: 50px 0;
	font-size: 40px;
	background-image: url(../img/stars.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	padding-top: 50px;
}